@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

h5 {
  @apply text-xl font-bold;
}

h6 {
  @apply text-lg font-bold;
}

span.swiper-pagination-bullet {
  @apply bg-preto-950 dark:bg-cinza-200 size-3
}

span.swiper-pagination-bullet-active {
  @apply bg-laranja-light-normal dark:bg-laranja-dark-normal size-3
}

.card {
  container-type: inline-size;
  container-name: card-container;
}

@container card-container (width > 320px) {
  .card-align-start {
    @apply flex-row justify-start text-start;
  }
}